@import "reset";
@import "fonts";

$font: roboto, opensans, sans-serif;

%tdtt {
    text-decoration: none;
    text-transform: uppercase;
}

a {
	display: inline-block;
}

h3 {
	font: 400 1.5vw $font;
	letter-spacing: 1px;
	text-transform: uppercase;
	word-spacing: 2px;
}

.fa-sort-desc {
	margin: 0 3%;
	font-size: 2vw;
} 

.left-dotted {
	width: 20%;
	border-top: 2px dotted  #8b93a0;
	display:inline-block;
}

.right-dotted {
	width: 20%;
	border-top: 2px dotted  #8b93a0;
	display:inline-block;
}
/* ==========================================================================
   2. Header banner
   ========================================================================== */

.header-banner {
    background: url("../images/image_header_bg.jpg") no-repeat;
    background-size: cover;
    text-align: center;

    .banner-content {
        padding: 10% 0 21%;

        h2 {
            font: 500 2.5vw $font;
            letter-spacing: 15px;
            text-transform: uppercase;

            span {
                color: #8b93a0;
            }
        }

        p {
            margin: 1% 0 5%;
            color: #8b93a0;
            font: 400 1vw $font;
            letter-spacing: 2px;
            word-spacing: 2px;

            span {
            	font-style: italic;
            }
        }

        a {
            padding: 20px 30px;
            border-radius: 5px;
            border-bottom: 4px solid #208783;
            background-color: #39d3cd;
            color: #fff;
            font: 600 1vw $font;
            letter-spacing: 2px;

            @extend %tdtt;
        }
    }
}
/* ==========================================================================
   2. Header banner
   ========================================================================== */

   /* 2.1 Porfolio
========================================================================== */
.portfolio {
background-color: #f7f2f2;

.portfolio-wrapper {
	padding: 6% 6%;
	text-align: center;
}
p{
	margin-top: 5%;
	color: #8b93a0;
	font: 400 1.2vw $font;

	span {
		color: #423d3d;
	}
}


}