@import "reset";
@import "fonts";
@import "mixins";

$font: roboto, opensans, sans-serif;

%tdtt {
    text-decoration: none;
    text-transform: uppercase;
}

a {
	display: inline-block;
}

h3 {
	margin-bottom: 1%;
	font: 400 1.5vw $font;
	letter-spacing: 1px;
	text-transform: uppercase;
	word-spacing: 2px;
}

h4 {
    font: 400 1.2vw $font;
    letter-spacing: 1px;
    text-transform: uppercase;
    word-spacing: 2px;
}

p{
    color: #8b93a0;
    font: 400 1vw $font;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.seperator {
    margin-bottom: 5%;
}

.fa-sort-desc {
	margin: 0 3%;
	font-size: 2vw;
} 

.left-dotted {
	width: 20%;
    color: #8b93a0;
	border-top: 2px dotted  #8b93a0;
	display:inline-block;
}

.right-dotted {
	width: 20%;
	border-top: 2px dotted  #8b93a0;
	display:inline-block;
}

ul.carousels {
    list-style-type: none;
    text-align: center;

    li {
        width: 15px;
        height: 15px;
        border: 1px solid #8b93a0;
        border-radius: 50%;
        display: inline-block;
    
    &:first-child{
        background-color: #000;
    }
    }
    a {
        width: 100%;
        height: 100%;
    }
}
/* ==========================================================================
   2. Header banner
   ========================================================================== */

.header-banner {
    background: url("../images/image_header_bg.jpg") no-repeat;
    background-size: cover;
    text-align: center;

    .icon-bar {
        background-color: #000;
    }
    form {
        .fa-search {
            font-size: 1.2vw;
        }


    }
        
    nav {
        a {
            color: #000;
            font: 400 1vw $font;
            text-transform: uppercase;
            &:hover {
                color: #39d3cd;
            }
        }
    }
        
    .banner-content {
        padding: 10% 0 21%;

        h2 {
            font: 500 2.5vw $font;
            letter-spacing: 15px;
            text-transform: uppercase;

            span {
                color: #8b93a0;
            }
        }

        p {
            margin: 1% 0 5%;

            span {
            	font-style: italic;
            }
        }

        a {
            padding: 1% 2%;
            border-radius: 5px;
            border-bottom: 4px solid #208783;
            background-color: #39d3cd;
            color: #fff;
            font: 600 1vw $font;
            letter-spacing: 2px;

            @extend %tdtt;
        }
    }
}
/* ==========================================================================
   2. Header banner
   ========================================================================== */

   /* 2.1 Porfolio
========================================================================== */
.portfolio {
background-color: #f7f2f2;

.portfolio-wrapper {
	padding: 6% 6%;
	text-align: center;
}
p{
	color: #8b93a0;
	font: 400 1.2vw $font;

	span {
		color: #423d3d;
	}
}
}

/* 2.2 Services
========================================================================== */
.services-wrapper {
	padding: 6% 0;
	text-align: center;
	
    .fa-laptop, .fa-code, .fa-heart {
        color: #fff;
        font-size: 3vw;
    }
    
    .services-circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 0 auto 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5bcad8;
    }
    
    .row {
        span {
            width: 10%;
            height: 3px;
            margin: 4% 0;
            display: inline-block;
            background-color: #5bcad8; 

        }
    }   
}

/* 2.3 Responsive Design
========================================================================== */

.responsive-design {
    display: flex;
.iphone {
    flex-basis: 50%;
    img {
        width: 100%;
        height: 100%;
    }
}
.responsive-design-flex {
    flex-basis: 50%;
}

}
.responsive-design-wrapper {
    padding: 12% 26% 15% 10%;

h3, .seperator {
    text-align: center;
}
p{
    margin-bottom: 5%;
}

.carousels {
    margin-top: 30%;

    a {
        width: 100%;
        height: 100%;
    }
}

}

/* 2.4 Problems
========================================================================== */
 .problems {
    background: url(../images/image_counter.jpg) no-repeat;
    background-size: cover;
    background-position: center;
 }
 .problems-wrapper {
    padding: 7% 0 4%;
    text-align: center;

    p { 
        color: #fff;
        letter-spacing: 12px;
        word-spacing: 6px;
        text-transform: uppercase; 

    }
    .got-problems {
        font: 400 3vw $font;
    }
    .no-problems {
        font: 400 1.5vw $font;
        span {
            font-style: italic;
        }
    }
    .problems-circle {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin: 3% auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #5bcad8;
        color: #fff;
    }
 }

 /* 2.5 Creative
========================================================================== */
.creative-wrapper {
    padding: 6% 0;
    text-align: center;

    .row {
        span {
            width: 10%;
            height: 3px;
            margin: 4% 0;
            display: inline-block;
            background-color: #5bcad8;
        }
        
        h4 {
            margin-top: 12%;
        }
    }
    
    .carousels {
        margin-top: 6%;
    }

}

 /* 2.6 Ignite
========================================================================== */
.ignite {
    padding: 6% 0;
    background-color: #2c2d35;
    text-align: center;
    a {
        padding: 1% 2%;
        border: 1px solid #fff;
        @extend %tdtt;
        color: #fff;
        font: 400 1.5vw $font; 
       
        &:hover {
        background-color: #fff;
        color: #2c2d35;
        }

    }
}

 /* 2.6 Team
========================================================================== */
.team-wrapper {
    padding: 6% 0;
    text-align: center;

    .row {
        span {
            width: 10%;
            height: 3px;
            margin: 4% 0;
            display: inline-block;
            background-color: #5bcad8;
        }
            
        h4 {
             margin-top: 12%;
         }  
         
         ul {
            margin-top: 5%;
            li {
                border-radius: 50%;
                margin-right: 7px;
                display: inline-block;
                background-color: #2c2d35;
                color: #fff;

            }
         }
        .fa-facebook, .fa-twitter, .fa-envelope-o {
            color: #fff;
            font-size: 1.2vw;
        }
        
        a {
            padding:15px;
            &:hover {
                background-color:  #5bcad8;
                border-radius: 50%;
            }
        }

    }
    .carousels {
        margin-top: 6%;
    }

}

 /* 2.6 Subscribe 
========================================================================== */
.subscribe {
    position: relative;
    background-color:  #2c2d35;
    
    .subscribe-wrapper {
        text-align: center;
        padding: 7% 0 8%;
    }

    .fa-paper-plane-o {
        display: block;
        color: #fff;
        font-size: 2vw;
    }
    span {
        margin: 1% 0 2%;
        display: block;
        color: #fff;
        font: 400 1.2vw $font;
        letter-spacing: 2px;
        word-spacing: 2px;  
        text-transform: uppercase;
    }
    
    .form-control {
        background-color: transparent;
    }
    input[type="text"]{
        padding: 5% 13%;
        background-color: transparent; 
        border: 1px solid #fff;
        color: #fff; 
    }
    button[type="submit"]{
        padding: 1%;
        border: none;
        border-radius: 0;
        background-color:  #5bcad8;
        color: #fff;
        font: 400 1vw $font;
        text-transform: uppercase;
        &:hover {
            color: #5bcad8;
            background-color: #fff;
        }
    }
    .scroll-up {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 4;
        bottom: -4%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.7;

        background-color:  #5bcad8;
        
        .fa-chevron-up {
            color: #fff;


        }
    }
}

 /* 2.7 Contact 
========================================================================== */
.contact {
    position: relative;
    // background: url(../images/image_think_alike.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
            url('../images/image_subscribe_bg.jpg');
}

.contact-wrapper {
   padding: 6%;
  
  .contact-detail {
    padding: 2% 2%;
    margin: 0 1%;
    background-color: #fff;
  }
  .contact-flex {
    display: flex;
    justify-content: space-between;

  }

  h3 {
    color: #fff;
  }
  .fa-sort-desc {
    color: #fff;
  }
  
  .contact-head {
    margin: 5% 0;
    display: block;
    color: #5bcad8;
    font: 400 1.2vw $font;
    text-transform: uppercase;
  }
  .contact-body {
    padding-bottom: 15%;
    display: block;
    color: #000;
    font: 400 1.2vw $font;
  }
    .fa-map-marker, .fa-mobile, .fa-paper-plane {
        padding-top:15%;
    }
    
    
    ul {
        margin-top: 7%;
    }
    .sprite {
        width: 23px;
        height: 23px;
        display: inline-block;
        background: url(../images/sprite.png);
        cursor: pointer;

        a {
            width: 23px;
            height: 23px;
        }
    }
    #one {
        background-position: -5px -10px ;
    }
    #two {
        background-position: -34px -11px ;
    }
    #three {
        background-position: -62px -11px;
    }
}

/* ==========================================================================
   3. Footer
   ========================================================================== */
footer {
  background-color: #2c2d35;

.footer-wrapper {
  padding: 5% 0;
  display: flex;
  justify-content: space-between;
}
ul {
  li {
    display: inline-block;
    color: #fff;
    list-style-type: none;
    text-transform: capitalize;
  &:first-child::after {
    padding-left: 8px;
    content: "|";
  }

  a {
    color:#fff;
  }
  }

}
p {
  color: #fff;
}

}

/* ==========================================================================
   Media queries
   ========================================================================== */
    
    /* Header Banner
========================================================================== */

@include bp-medium {
    
   h3 {
    font-size : 2vw;
   } 

   p {
    font-size: 1.7vw;
   }

   h4 {
    font-size: 1.7vw;
   }

.header-banner {
    nav {
        a {
            font-size: 1.5vw;
        }

        .fa-search {
            font-size: 2vw;
        }
    }
    .banner-content {
        h2 {
            font-size: 3vw;
        }
        p {
            font-size: 1.5vw;
        }
        a {
            font-size: 1.5vw;
        }
    }
}

  /* Portfolio
========================================================================== */
.portfolio {
    p{
        font-size: 1.7vw;
    }
}

/* Services
========================================================================== */

.services-wrapper {
    .fa-laptop, .fa-code, .fa-heart {
        font-size: 5vw;
    }
    .services-circle{
        margin-bottom: 2%;
    }
    .row {
        span {
            margin : 2% 0;
        }
    }
    p {
        margin-bottom: 5%;
    }
}

/* Responsive Design
========================================================================== */
.responsive-design-wrapper {
    p {
        margin-bottom: 7%;
    }
}

/* Creative 
========================================================================== */
.creative-wrapper {
    img {
        margin: 0 auto;
    }
    .row {
        h4 {
            margin-top: 3%;
        }
        span {
            margin: 2% 0;
        }
       p {
        margin-bottom : 6%;
       } 
    }
}

/* Ignite
========================================================================== */
.ignite {
    a {
        font-size: 2vw;
    }
}


}//media query





























