@import "reset";
@import "fonts";

$font: roboto, opensans, sans-serif;

%tdtt {
    text-decoration: none;
    text-transform: uppercase;
}

a {
	display: inline-block;
}

h3 {
	margin-bottom: 1%;
	font: 400 1.5vw $font;
	letter-spacing: 1px;
	text-transform: uppercase;
	word-spacing: 2px;
}

h4 {
    font: 400 1.2vw $font;
    letter-spacing: 1px;
    text-transform: uppercase;
    word-spacing: 2px;
}

p{
    color: #8b93a0;
    font: 400 1vw $font;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.seperator {
    margin-bottom: 5%;
}

.fa-sort-desc {
	margin: 0 3%;
	font-size: 2vw;
} 

.left-dotted {
	width: 20%;
    color: #8b93a0;
	border-top: 2px dotted  #8b93a0;
	display:inline-block;
}

.right-dotted {
	width: 20%;
	border-top: 2px dotted  #8b93a0;
	display:inline-block;
}

ul.carousels {
    list-style-type: none;
    text-align: center;

    li {
        width: 15px;
        height: 15px;
        border: 1px solid #8b93a0;
        border-radius: 50%;
        display: inline-block;
    
    &:first-child{
        background-color: #000;
    }
    }
}
/* ==========================================================================
   2. Header banner
   ========================================================================== */

.header-banner {
    background: url("../images/image_header_bg.jpg") no-repeat;
    background-size: cover;
    text-align: center;

    .banner-content {
        padding: 10% 0 21%;

        h2 {
            font: 500 2.5vw $font;
            letter-spacing: 15px;
            text-transform: uppercase;

            span {
                color: #8b93a0;
            }
        }

        p {
            margin: 1% 0 5%;

            span {
            	font-style: italic;
            }
        }

        a {
            padding: 1% 2%;
            border-radius: 5px;
            border-bottom: 4px solid #208783;
            background-color: #39d3cd;
            color: #fff;
            font: 600 1vw $font;
            letter-spacing: 2px;

            @extend %tdtt;
        }
    }
}
/* ==========================================================================
   2. Header banner
   ========================================================================== */

   /* 2.1 Porfolio
========================================================================== */
.portfolio {
background-color: #f7f2f2;

.portfolio-wrapper {
	padding: 6% 6%;
	text-align: center;
}
p{
	color: #8b93a0;
	font: 400 1.2vw $font;

	span {
		color: #423d3d;
	}
}
}

/* 2.2 Services
========================================================================== */
.services-wrapper {
	padding: 6% 0;
	text-align: center;
	
    .fa-laptop, .fa-code, .fa-heart {
        color: #fff;
        font-size: 3vw;
    }
    
    .services-circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 0 auto 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5bcad8;
    }
    
    .row {
        span {
            width: 10%;
            height: 3px;
            margin: 4% 0;
            display: inline-block;
            background-color: #5bcad8; 

        }
    }   
}

/* 2.3 Responsive Design
========================================================================== */

.responsive-design {
    display: flex;

}
.responsive-design-wrapper {
    padding: 12% 26% 15% 10%;
    
h3, .seperator {
    text-align: center;
}
p{
    margin-bottom: 5%;
}

.carousels {
    margin-top: 30%;
}

}
